<!DOCTYPE html>

<html>
<head>
  <title>Hi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

  <body>
    <nav>
        <p>drowsiness and alert</p>
    </nav>
    <div class="container">

      <div>
        <p>By using our site it detects drowsiness and alert the driver. Till now Drowsiness is the main problem in the means of road accident. So it is important to take good rest between the travel in a safer place because drowsy can't be measured. THANKS FOR visiting oru site</p>
        <button class="custom-btn btn-9"><a href="/video">Visit</a></button>
      </div>
     

        <img src="{{ url_for('video') }}" width="50%"/>
    </div>
            
    </body>


</html>
